/*
? @document-start
======================
| GLOBAL PAGE STYLES |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          global-styles.css
? @document-created:       03/02/2022
? @document-modified:      03/02/2022
? @document-version:       v0.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Something soon

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

* If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
file. Learn more about the changelog system here: 
https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-  

================================================================================================================================== 
*/








