/*
? @document-start
==================
| PRIMARY STYLES |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          primary-styles.css
? @document-created:       03/02/2022
? @document-modified:      03/02/2022
? @document-version:       v0.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Something soon

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

* If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
file. Learn more about the changelog system here: 
https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-  

================================================================================================================================== 
*/


/* ------------------- */
/* Primary Page Header */
/* ------------------- */

.main-heading {
    color: var(--theme-primary-heading-text-color);
    font-family: var(--theme-primary-heading-font);
    margin-bottom: 20px;
    text-align: center;
    /* width: 100%; */
    font-size: 3.5em;
    letter-spacing: 10px;
}

.main-heading span {
    color: var(--theme-primary-heading-span-text-color);
    letter-spacing: 0;
}

.main-header p {
    width: 50%;
    margin: 0 auto 15px auto;
}

.main-heading .beta-footer {
    font-size: 0.4em;
    color: #304c48;
}

/* -------------- */
/* Output Display */
/* -------------- */

.output-display-container {
    width: 100%;
    min-height: 20vh;
    margin-bottom: 15px;
    background-color: var(--theme-main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.output-display-container p {
    word-break: break-all;
    color: white;
    width: 50%;
    letter-spacing: 1px;
    margin-bottom: 0;
}

/* ----------------------- */
/* Search Settings Section */
/* ----------------------- */

.search-container {
    background-color: var(--theme-primary-background-color);
    padding: 15px;
    border-radius: 15px;
}

.search-container > h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.search-container > h3 {
    margin-top: 10px;
}

.main-interface {
    --min-flex-width: 150px;
    --button-background-color: #546e4b;
    --button-background-transition: background-color 0.25s;

    display: flex;
    flex-wrap: wrap;
    background-color: var(--theme-secondary-background-color);
    border-radius: 15px;
    justify-content: center; /* this will keep the elements centered even when their min-width overflows the parent border */
}

.settings {
    /* background-color: var(--theme-primary-background-color); */
    /* width: 50%; */
    flex: 1; 
    min-width: var(--min-flex-width); /* overwrite the flexbox-assigned min-width from the parent so this stays centered */
    padding: 10px;
}

.settings button {
    margin: 20px 0 0 0;
    width: 100%;
    transition: var(--button-background-transition);
}

.generate-search-btn {
    background-color: var(--button-background-color);
}

.cancel-generate-btn {
    display: none;
    background-color: var(--theme-error-background-color);
    transition: var(--button-background-transition);
}

/* @bug:start[1.0]:"button hovers are not working" */
/* 
    !revisit:
    
    button hovers conflict with the main.js code when clicking to change
    background colors. hover effects disabled until a fix is ready
*/

/* .generate-search-btn:hover {
    background-color: #87a17e;
} */

/* .cancel-generate-btn:hover {
    background-color: #6a3c3c;
} */

/* @bug:end[1.0] */

.input-box {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.input-box label {
    flex: 1;
    margin-right: 10px;
    min-width: 50px; /* overwrite the flexbox-assigned min-width from the parent so this stays centered */
}

.input-box input {
    flex: 1;
    min-width: 50px; /* overwrite the flexbox-assigned min-width from the parent so this stays centered */
}

.stats-display {
    /* border-left: 2px solid white; */
    flex: 1;
    padding: 10px;
    min-width: var(--min-flex-width); /* trigger the flex-wrap once the screen is crushed in */
    margin-bottom: 200px;
}

.stats-display h3 {
    color: #262626;
    margin-top: 0;
    margin-bottom: 10px;
}

.stats-display p {
    color: white;
    font-size: 1.1em;
}

.exp-stats-display {
    display: none;
}


/* ------ */
/* Footer */
/* ------ */

footer h2 {
    padding-top: 50px;
    margin-bottom: 10px;
}


/* ------------- */
/* Media Queries */
/* ------------- */

/* medium screen */
@media screen and (max-width: 956px) {

    /* make input-label text size smaller */
    .input-box label {
        font-size: 1em;
    }

}

/* small screen */
@media screen and (max-width: 802px) {

    /* make input-label text size smaller */
    .input-box label {
        font-size: 0.8em;
    }

    .search-container {
        width: 100%;
    }
    
}