/*
? @document-start
==================
| PRIMARY STYLES |
==================================================================================================================================

? @author:                 William J. Horn
? @document-name:          primary-styles.css
? @document-created:       03/02/2022
? @document-modified:      03/02/2022
? @document-version:       v0.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Something soon

==================================================================================================================================

? @document-changelog
======================
| DOCUMENT CHANGELOG |
==================================================================================================================================

* If this program supports changelog records then there should be a 'changelog' folder within the same directory as this program
file. Learn more about the changelog system here: 
https://github.com/william-horn/my-coding-conventions/blob/main/document-conventions/about-changelog.txt

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-  

================================================================================================================================== 
*/

/* ------------------- */
/* Primary Page Header */
/* ------------------- */

.main-heading {
    color: var(--theme-primary-heading-text-color);
    font-family: var(--theme-primary-heading-font);
    margin-bottom: 20px;
    text-align: center;
    /* width: 100%; */
    font-size: 3.5em;
    letter-spacing: 10px;
}

.main-heading span {
    color: var(--theme-primary-heading-span-text-color);
    letter-spacing: 0;
}

.main-header p {
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto 15px auto;
}

/* ----- */
/* Other */
/* ----- */

.output-display-container {
    width: 100%;
    height: 20vh;
    margin-bottom: 15px;
    background-color: var(--theme-main-background-color);
}